<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Welcome to Mrdj</h2>
    <p>
      enjoy your days with your friends and families with discount of 50% OFFER
      for students
    </p>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <div class="block__header">
      <h2 class="block__heading">Welcome to Mrdj</h2>
      <p>
        enjoy your days with your friends and families with discount of 50%
        OFFER for students
      </p>
    </div>
  </div>
</section>
