<section class="block block-domain">
  <header class="block__header">
    <h2 class="block__heading">Starting at the price of 3$</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae,
      debitis.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="inputs" placeholder="Enter your domain name" />
    <a href="#" class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="image/sprite.svg#search"></use>
      </svg>
      Search
    </a>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com $10</span></li>
    <li>.sg $11</li>
    <li>.in $12</li>
    <li>.po $13</li>
    <li>.org $14</li>
    <li>.lp $15</li>
  </ul>
</section>
