<footer class="block block--dark footer">
  <div class="grid container footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <div class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">Item 1</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content footer__content">
        <ul class="list">
          <li><a href="#">Web Hosting</a></li>
          <li><a href="#">Web Hosting</a></li>
          <li><a href="#">Web Hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 2</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content footer__content">
        <ul class="list">
          <li><a href="#">Web Hosting</a></li>
          <li><a href="#">Web Hosting</a></li>
          <li><a href="#">Web Hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 3</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content footer__content">
        <ul class="list">
          <li><a href="#">Web Hosting</a></li>
          <li><a href="#">Web Hosting</a></li>
          <li><a href="#">Web Hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">Item 4</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content footer__content">
        <ul class="list">
          <li><a href="#">Web Hosting</a></li>
          <li><a href="#">Web Hosting</a></li>
          <li><a href="#">Web Hosting</a></li>
        </ul>
      </div>
    </section>
    <div class="footer__brand">
      <img class="footer__image" src="image/logo.svg" alt="logo" />
      <p class="footer__copyright">Copyrights @2021 MRDJ</p>
    </div>
  </div>
</footer>
