<nav class="nav collapsible">
  <a class="nav__brand" href="/"><img src="image/logo.svg" alt="logo" /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="image/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__items"><a href="#">Home</a></li>
    <li class="nav__items"><a href="#">About</a></li>
    <li class="nav__items"><a href="#">Contact</a></li>
    <li class="nav__items"><a href="#">Sign up</a></li>
  </ul>
</nav>
