<div class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
      <h2>User-Friendly Control Panel</h3>
    </header>
    <div class="grid grid--1x2 container block-showcase__content">
      <picture class="block-showcase__image">
        <source type="image/webp" srcset="image/ipad@1x.webp 1x, image/ipad@2x.webp 2x">
        <source type="image/png" srcset="image/ipad@1x.png 1x, image/ipad@2x.png 2x">
        <img src="image/ipad.png" alt="ipad" />
      </picture>
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="image/sprite1.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy to start</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci commodi
                sapiente debitis soluta, sit ut voluptatum porro ex iste? Dolorem!
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="image/sprite1.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy to start</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci commodi
                sapiente debitis soluta, sit ut voluptatum porro ex iste? Dolorem!
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="image/sprite1.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy to start</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci commodi
                sapiente debitis soluta, sit ut voluptatum porro ex iste? Dolorem!
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>