<section class="block">
  <header class="block__header">
    <h2 class="block__heading">What out customer are saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, qui.
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="image/testimonial.jpg" alt="A image with a smiling face" />
          <span class="icon-container icon-container-accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="image/sprite1.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            consequatur accusamus illum, nihil cupiditate in veritatis. Cumque
            quibusdam veniam voluptate.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="image/sprite1.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Joel Fernandes</h3>
                <p class="quote__organisation">JF Studios</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
